.site-header {
  background-color: white;
}
.sitenav-link {
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  list-style: none;
}

.main-link {
  color: white;
  background-color: #ff7500;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.5px;
  text-decoration: none;
}

.hero {
  background-color: #252420;
  color: #ffffff;
}

.hero-part {
  width: 390px;
  
}

.orange-line{
  width: 80px;
  height: 3px;
  background-color: #ff7500;
}

.hero-heading {
  color: #ffffff;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.2; /* 48px */
  letter-spacing: 0.5px;
}
.hero-img {
  width: 510px;
  height: 510px;
}

.hero-text {
  font-size: 16px;
  font-weight: 400;
  
  letter-spacing: 0.5px;
}

.feature {
  width: 340px;
}

.feature-icon-wrapper {
  width: 100px;
  height: 100px;
  background-color: rgba(255, 117, 0, 0.2);
}

.featers-heading {
  width: 435px;
  color: #000;
  font-size: 72px;
  line-height: 1.2;
  letter-spacing: 0.5px;
}

.feater-content {
  color: #000;
  width: 214px;

  line-height: 1.2;
  letter-spacing: 0.5px;
  
}

.featers-text {
  width: 314px;
  font-size: 16px;
  letter-spacing: 0.5px;
}

.promo {
  background-color: #252420;
  color: #ffffff;
}

.promo-content {
  width: 440px;
}

.promo-heading {
  font-size: 40px;
  line-height: 48px;
}

.promo-text {
  width: 440px;
  font-size: 16px;
  line-height: 1.5;
}

.promo-highlit {
  color:#ff7500;
}

.promo-img {
  width: 440px;
  height: 440px;
  object-fit: cover;
}

.site-footer {
  background-color: #F8F8F8;
  list-style: none;

}

.site-footer-hr {
  width: 1100px;
  height: 2px;
  background-color: rgba(37, 36, 32, 0.50);
}

ul {
  width: 224px;
}
ul li {
  list-style: none;
  color: rgba(37, 36, 32, 1);
  font-size: 16px;
  font-weight: 400;
  text-align: left;


  ;
} 
